USE [PRD_Documentation]
GO
/****** Object:  StoredProcedure [dbo].[App_InsertFieldsFromDatabase]    Script Date: 9/3/2023 5:54:47 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[App_InsertFieldsFromDatabase]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO PRD_DOCUMENTATION.DBO.AT_DOC_MANUAL_TABLE_FIELDS
	SELECT ST.[name] AS DMTF_TABLE_NAME,
		COL.[NAME] AS DMTF_FIELD_NAME, 
		'' AS DMTF_FIELD_CAPTION,
		'' AS DMTF_FIELD_DESCRIPTION,
		'' AS DMTF_FIELD_TYPE,
		CASE 
			WHEN T.NAME='NVARCHAR' THEN T.NAME + '(' + CONVERT(NVARCHAR,COL.MAX_LENGTH) + ')'
			WHEN T.NAME='DECIMAL' THEN T.NAME + '(' + CONVERT(NVARCHAR,COL.PRECISION) + ',' + CONVERT(NVARCHAR,COL.SCALE) +')'
			ELSE T.NAME
		END AS DMTF_FIELD_DATATYPE,
		CASE WHEN FKC.REFERENCED_COLUMN_ID IS NULL THEN '' ELSE 'FK' END AS DMTF_LOOKUP_LIST	
		FROM QBCOLLECTION_PLUS_23_1.SYS.COLUMNS COL WITH(NOLOCK)
		INNER JOIN QBCOLLECTION_PLUS_23_1.SYS.TABLES ST WITH(NOLOCK) ON ST.OBJECT_ID=COL.OBJECT_ID
		INNER JOIN QBCOLLECTION_PLUS_23_1.SYS.TYPES T ON COL.USER_TYPE_ID = T.USER_TYPE_ID
		INNER JOIN QBCOLLECTION_PLUS_23_1.DBO.TABLES TAB WITH(NOLOCK) ON TAB.TAB_NAME = ST.[NAME] AND TAB.TAB_VISIBLE = 1
		LEFT JOIN QBCOLLECTION_PLUS_23_1.SYS.FOREIGN_KEY_COLUMNS FKC WITH(NOLOCK) ON FKC.PARENT_COLUMN_ID = COL.COLUMN_ID AND FKC.PARENT_OBJECT_ID = ST.OBJECT_ID
		--EXCLUDE EXISTING
		LEFT JOIN PRD_DOCUMENTATION.DBO.AT_DOC_MANUAL_TABLE_FIELDS DMTF_EXISTING WITH(NOLOCK) ON DMTF_EXISTING.DMTF_TABLE_NAME=ST.[name] AND DMTF_EXISTING.DMTF_FIELD_NAME=COL.[NAME]

	WHERE ST.NAME IN (
			 'AT_CASE_AGGREGATIONS'
			,'AT_CASE_BILLING'
			,'AT_CASE_CORE'
			,'AT_CASE_EXTRA'
			,'AT_CASE_EXTRA_CUSTOMERS'
			,'AT_CASE_PROPERTIES'
			,'AT_CASE_SCORING'
			,'AT_CASE_STATISTICS'
			,'AT_CASES'
			,'AT_CUSTOMER_ADDRESSES'
			,'AT_CUSTOMER_CONTACTS'
			,'AT_CUSTOMER_CORE'
			,'AT_CUSTOMER_EXTRA'
			,'AT_CUSTOMER_INTERNET_IDS'
			,'AT_CUSTOMER_MEMOS'
			,'AT_CUSTOMER_PHONES'
			,'AT_CUSTOMER_SCORING'
			,'AT_CUSTOMER_STATISTICS'
			,'AT_CUSTOMER_STATISTICS_BU'
			,'AT_CUSTOMERS'
			,'AT_CUSTOMERS_EXTENSION'
			,'AT_DEBT_ELEMENTS'
			,'AT_DEBT_ELEMENTS_GROUPING'
			,'AT_DEBT_ELEMENTS_GROUPING_MEMBERS'
			,'AT_DEBT_ITEM_MEMOS'
			,'AT_DEBT_ITEMS'
			,'AT_DEBT_ITEMS_EXTENSION'
			,'AT_DEBTS'
			,'AT_DEBTS_EXTENSION'
			,'AT_DEBTS_STATISTICS'
			,'AT_MOVED_CASES_APPLICATION'
			,'AT_MOVED_CASES_EXTRA'
			,'AT_MOVED_CASES_HOST'
			,'AT_MOVED_CASES_RESTORE_HISTORY'
			,'AT_MOVED_CASES_STATISTIC'
			,'EOD_CASES_CONTROL')		

	AND DMTF_EXISTING.DMTF_TABLE_NAME IS NULL AND DMTF_EXISTING.DMTF_FIELD_NAME IS NULL

END
