USE [PRD_Documentation]
GO
/****** Object:  StoredProcedure [dbo].[App_InsertFieldsFromExcelRepository]    Script Date: 10/3/2023 10:16:01 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[App_InsertFieldsFromExcelRepository]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- DELETE ALL ROWS INSERTED FROM WORKSHEETS OR AUTOMATICALLY
	DELETE FROM PRD_DOCUMENTATION.DBO.AT_DOC_AUTO_TABLE_FIELDS WHERE DATF_SOURCE='REPO';

	INSERT INTO PRD_DOCUMENTATION.DBO.AT_DOC_AUTO_TABLE_FIELDS
	SELECT ST.[NAME] AS DATF_TABLE_NAME,
		COL.[NAME] AS DATF_FIELD_NAME, 
		ISNULL(AUX.AUX_WORKSHEET,'N/A') AS DATF_AUX_WORKSHEET,
		ISNULL(ENTITY.ENTITY_WORKSHEET,'N/A') AS DATF_ENTITY_WORKSHEET,
		ISNULL(ENTITY.FIELD_CAPTION, AUX.RESERVED_FOR) AS DATF_FIELD_CAPTION,
		ISNULL(ENTITY.FIELD_DESCRIPTION, ISNULL(ENTITY.FIELD_CAPTION,AUX.RESERVED_FOR)) AS DATF_FIELD_DESCRIPTION,
		AUX.FIELD_TYPE AS DATF_FIELD_TYPE,
		CASE 
			WHEN T.NAME='NVARCHAR' THEN T.NAME + '(' + CONVERT(NVARCHAR,COL.MAX_LENGTH) + ')'
			WHEN T.NAME='DECIMAL' THEN T.NAME + '(' + CONVERT(NVARCHAR,COL.PRECISION) + ',' + CONVERT(NVARCHAR,COL.SCALE) +')'
			ELSE T.NAME
		END AS DATF_FIELD_DATATYPE,
		CASE WHEN FKC.REFERENCED_COLUMN_ID IS NULL THEN ENTITY.LOOKUP_LIST ELSE 'FK' END AS DATF_LOOKUP_LIST,
		'REPO' AS DATF_SOURCE	
		FROM QBCOLLECTION_PLUS_23_1.SYS.COLUMNS COL WITH(NOLOCK)
		INNER JOIN QBCOLLECTION_PLUS_23_1.SYS.TABLES ST WITH(NOLOCK) ON ST.OBJECT_ID=COL.OBJECT_ID
		INNER JOIN QBCOLLECTION_PLUS_23_1.SYS.TYPES T ON COL.USER_TYPE_ID = T.USER_TYPE_ID
		INNER JOIN QBCOLLECTION_PLUS_23_1.DBO.TABLES TAB WITH(NOLOCK) ON TAB.TAB_NAME=ST.[NAME] AND TAB.TAB_VISIBLE=1
		LEFT JOIN QBCOLLECTION_PLUS_23_1.SYS.FOREIGN_KEY_COLUMNS FKC WITH(NOLOCK) ON FKC.PARENT_COLUMN_ID=COL.COLUMN_ID AND FKC.PARENT_OBJECT_ID=ST.OBJECT_ID
	
		-- INCLUDE ALL FIELD FROM WORKSHEETS
		INNER JOIN PRD_DOCUMENTATION.DBO.WS_AUX_WORKSHEET AUX WITH(NOLOCK) ON AUX.TABLE_NAME=ST.NAME AND AUX.FIELD_NAME=COL.NAME
		LEFT JOIN PRD_DOCUMENTATION.DBO.WS_ENTITY_WORKSHEET ENTITY WITH(NOLOCK) ON ENTITY.ENTITY_WORKSHEET=AUX.ENTITY_WORKSHEET AND ENTITY.AUX_WORKSHEET=AUX.AUX_WORKSHEET AND ENTITY.DRIVER_DB_FIELD=COL.NAME


END
